<a href="https://colab.research.google.com/github/Sibahle01/demo-repo/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project: Data Science Overview

## Introduction
This notebook provides an overview of data science, including the languages, libraries, and tools commonly used in the field. We will also demonstrate basic arithmetic operations and conversions using Python.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool       | Type           |
|------------|----------------|
| Jupyter    | IDE            |
| GitHub     | Version Control|
| TensorFlow | Machine Learning|
| Power BI   | Data Visualization|
| SQL        | Database       |

## Arithmetic Expression Examples
Below are examples of arithmetic expressions in Python.

In [6]:
a = 5
b = 3
result = (a * b) + 10
result

25

In [7]:
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Understand data science languages
- Explore data science libraries
- Learn to work with basic arithmetic expressions
- Practice unit conversions

## Author
This notebook was created by Sibahle Sithole.